.buttonDiv {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: flex-start;
  padding-top: 0;
  margin: 0;
}
.button {
  padding: auto;
  height: 50px;
  width: 150px;
  border-radius: 10px;
  font-size: 25px;
}
